<ion-header>
  <ion-toolbar>
    <ion-title slot="start">{{ title }}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/home">Home</ion-button>
      <ion-button routerLink="/playlist">List</ion-button>
      <ion-button routerLink="/reviews">Reviews</ion-button>
    </ion-buttons>
    <ion-searchbar debounce="300" (ionInput)="onSearchInput($event)" slot="secondary"></ion-searchbar>
    <div class="profile-section" slot="end">
      <ion-label *ngIf="user" (click)="goToProfile()">{{ user?.username }}</ion-label>
      <ion-avatar *ngIf="user" (click)="goToProfile()" class="avatar">
        <img [src]="user?.avatar || defaultAvatar" alt="User Avatar" (error)="setDefaultAvatar($event)">
      </ion-avatar>
      <span class="separator">|</span>
      <button class="logout-button" (click)="logout()">Logout</button>
    </div>
  </ion-toolbar>
</ion-header>
