ion-toolbar {
  ion-title {
    font-size: 1.5em;
    color: #FFDB58;
  }

  ion-searchbar {
    width: 100%;
    max-width: 1000px; /* Ajusta el ancho máximo según tus necesidades */
    --border-radius: 25px;
    font-size: 1em;
    
    .searchbar-input {
      text-align: left;
    }

    .searchbar-placeholder {
      text-align: left;
    }
  }

  ion-buttons {
    ion-button {
      &.search-button {
        display: block;
      }
    }
  }

  @media (max-width: 767px) {
    ion-title {
      font-size: 1.2em;
    }

    ion-searchbar {
      display: block;
      font-size: 0.8em;
      width: 100%;
      max-width: none;
      margin-left: 0; /* Elimina el margen izquierdo en dispositivos móviles */
    }
  }

  @media (min-width: 768px) {
    ion-searchbar {
      max-width: 500px; /* Ajusta el ancho máximo en pantallas más grandes */
      --border-radius: 30px;
      width: auto; /* Restablece el ancho automático en pantallas más grandes */
    }
  }
}
