<ion-header *ngIf="isInitialized">
  <ion-toolbar>
    <ion-title slot="start">{{ title }}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/home" routerDirection="forward" routerLinkActive="active">Home</ion-button>
      <ion-button routerLink="/playlist" routerDirection="forward" routerLinkActive="active">List</ion-button>
      <ion-button routerLink="/reviews" routerDirection="forward" routerLinkActive="active">Reviews</ion-button>
      <ion-button (click)="openModal()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="profile-section" slot="end">
      <ion-avatar *ngIf="user" (click)="goToProfile()" class="avatar">
        <img [src]="user.avatar || defaultAvatar" alt="User Avatar" (error)="setDefaultAvatar($event)">
      </ion-avatar>
      <ion-button class="logout-button" color="danger" fill="clear" (click)="logout()">Logout</ion-button>
    </div>
  </ion-toolbar>
</ion-header>
