:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ion-content {
  --background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.full-height-card {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px; 
}

.star-rating {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin: 10px 0;
  font-size: 24px;
}

.star-rating fa-icon {
  color: grey;
  margin-right: 5px;
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.star-rating fa-icon.rated,
.star-rating fa-icon:hover,
.star-rating fa-icon:hover ~ fa-icon {
  color: gold;
}

ion-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-textarea {
  width: 100%;
  min-height: 100px;
  padding: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  resize: vertical;
  margin-top: 10px;
  flex-grow: 1;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
