
/* Estilos para el contenedor del ion-input y el botón */
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 50vh; /* Ajusta la altura según tus preferencias */
  }
  
  /* Estilos para el ion-input */
  ion-input {
    width: 80%; /* Ajusta el ancho del ion-input según tus preferencias */
    padding: 10px; /* Ajusta el relleno del ion-input según tus preferencias */
    border: 1px solid #ccc; /* Añade un borde alrededor del ion-input */
    border-radius: 5px; /* Agrega esquinas redondeadas al ion-input */
    font-size: 16px; /* Ajusta el tamaño del texto del ion-input según tus preferencias */
    margin-bottom: 10px; /* Añade espacio entre el ion-input y el botón */
  }
  
  /* Estilos para el botón */
  button {
    padding: 10px 20px; /* Ajusta el relleno del botón según tus preferencias */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Agrega esquinas redondeadas al botón */
    background-color: #007bff; /* Cambia el color de fondo del botón según tus preferencias */
    color: #fff; /* Cambia el color del texto del botón según tus preferencias */
    font-size: 16px; /* Ajusta el tamaño del texto del botón según tus preferencias */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }
  
 
