<ion-content>
  <div class="playlist-container" *ngIf="movies && movies.length">
    <ion-label class="playlist-title">{{ playlistName }}</ion-label>
    
    <div class="movie-covers">
      <ion-thumbnail *ngFor="let movie of movies" slot="start">
        <img class="movie-poster" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" [alt]="movie.title">
      </ion-thumbnail>
    </div>
    
    <ion-button class="fixed-button" (click)="openAddMovieModal()" slot="end">
      <ion-icon slot="icon-only" src="assets/icon/add-circle.svg"></ion-icon>
    </ion-button>
  </div>
</ion-content>

