<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Películas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAddMovieModal()">Añadir Película</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let movie of movies">
      <ion-label>{{ movie.title }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button class="fixed-button" (click)="openAddMovieModal()"> <!-- Botón con el evento click -->
    <ion-icon src="assets/icon/add-circle.svg"></ion-icon>
  </ion-button>
</ion-content>
