
<ion-content class="ion-padding">
  <div class="background-image"></div>
  <div class="title-container">
    <h1 class="title">ThatMovie</h1>
  </div>
  

  <ion-card class="login-card">
    <ion-card-content>
      <div class="login-container">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <ion-item lines="none">
            <ion-input formControlName="username" placeholder="Username" type="email"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input formControlName="password" placeholder="Password" type="password"></ion-input>
          </ion-item>
          <ion-button expand="block" color="warning" type="submit">Log In</ion-button>
          <div class="register">
            <a href="/register">Don't have an account? Sign up</a>
          </div>
       </form>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>