<app-navbar [title]="'ThatMovie'" style="display:block;margin-bottom:20px" (onSearch)="onSearch($event)"></app-navbar>
@if(searching){
  <div id="result" class="searchResults">
  
     
        <ion-list>
          @for(movie of moviesSearched; track movie.id) {
           <ion-item  [routerLink]="['/profile', movie.id]">
            <ion-thumbnail  slot="start">
              <img class="movie-poster" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
            </ion-thumbnail>
            <ion-label class="movie-title">{{ movie.title }}</ion-label>
           </ion-item> 
          }@empty {
            @if(statusSearch){
              <p>Buscando...</p>
            }@else {
              <p>No hay resultados</p>
            }
          }
        </ion-list>
      
   
  </div>
  }
  <div class="movie-list movie-list-container">
    <div class="movie-list-item">
      @for(list of playlist; track list.id) {
        <ion-list [routerLink]="['/movie-list', list?.id]">
          <ion-item>
            <ion-thumbnail slot="start">
              <!-- Aquí puedes agregar la imagen del poster de la lista si es necesario -->
            </ion-thumbnail>
            <ion-label>
              <h2>{{list?.name}}</h2>
              <p>{{ list?.crested_at | date: 'dd/MM/yyyy' }}</p>
            </ion-label>
            <ion-button>{{list.like}}</ion-button>
          </ion-item>
        </ion-list>
      }
    </div>
    <ion-button class="fixed-button" (click)="openCreateListModal()">
      <ion-icon slot="icon-only" src="assets/icon/add-circle.svg"></ion-icon>
    </ion-button>
  </div>