<app-navbar [title]="'ThatMovie'" style="display:block;margin-bottom:20px" (onSearch)="onSearch($event)"></app-navbar>
@if(searching){
  <div id="result" class="searchResults">
  
     
        <ion-list>
          @for(movie of moviesSearched; track movie.id) {
           <ion-item  [routerLink]="['/profile', movie.id]">
            <ion-thumbnail  slot="start">
              <img class="movie-poster" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
            </ion-thumbnail>
            <ion-label class="movie-title">{{ movie.title }}</ion-label>
           </ion-item> 
          }@empty {
            @if(statusSearch){
              <p>Buscando...</p>
            }@else {
              <p>No hay resultados</p>
            }
          }
        </ion-list>
      
   
  </div>
  }
  
  <div class="container">
    <div class="section-title">Recently Liked</div>
    <div class="grid-container">
      <ng-container *ngFor="let list of playlist; trackBy: trackById">
        <div class="grid-item" [routerLink]="['/movie-list', list.id]">
          <div class="image-container">
            <div class="image-stack">
              <ng-container *ngIf="list.id !== undefined && posters[list.id] && posters[list.id].length">
                <img *ngFor="let poster of posters[list.id]; let i = index" [src]="poster" [class]="'stack-image-' + i" (error)="handleImageError($event, list.id, i)">
              </ng-container>
            </div>
          </div>
          <div class="text-container">
            <h3>{{ list.name }}</h3>
            <div class="like-info">
              <span>{{ list.like}} likes</span>
            </div>
          </div>
        </div>
        <hr class="divider">
      </ng-container>
    </div>
    <ion-button class="fixed-button" (click)="openCreateListModal()">
      <ion-icon slot="icon-only" src="assets/icon/add-circle.svg"></ion-icon>
    </ion-button>
  </div>
  
  
  
  
  
  
  
  
 