/* playlist.page.css */
.container {
  margin: 20px;
  color: #f9f9f9;
  background-color: #181818;
  padding: 20px;
  border-radius: 8px;
  max-height: 80vh; /* Ajuste para altura máxima del contenedor */
  overflow-y: auto; /* Permitir scroll vertical */
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f9f9f9;
  text-transform: uppercase;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid-item {
  display: flex;
  background-color: #202020;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: left;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.image-container {
  width: 40%;
  position: relative;
  background-color: #000;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.image-stack {
  display: flex;
  height: 100%;
}

.image-stack img {
  width: 33.33%; /* Ajustar el ancho para tres imágenes */
  object-fit: cover;
  border-radius: 4px;
  margin-right: 4px;
}

.text-container {
  padding: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.text-container h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #f9f9f9;
}

.like-info {
  margin-top: 10px;
  font-size: 14px;
  color: #aaa;
}

.divider {
  margin: 20px 0;
  border: none;
  height: 1px;
  background-color: #333;
}

.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  background-color: #007bff;
  color: #fff;
}






.searchResults{
  position:absolute;
  display: block;
  top:60px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
  left: 1100px;
  width:25%;
 
  background-color: rgba(36, 34, 34, 0.5);
  padding:20px;
  z-index:9999;
  max-height: 300px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */

  ::ng-deep ion-list,
  ::ng-deep ion-item {
    background-color: rgba(37, 36, 36, 0.5) !important;
  }




  

}