<app-navbar [title]="'ThatMovie'" (onSearch)="onSearch($event)"></app-navbar>

<ion-content class="content">
  @if(searching) {
    <div id="result" class="searchResults">
      <ion-list>
        @for(movie of moviesSearched; track movie.id) {
          <ion-item [routerLink]="['/profile', movie.id]">
            <ion-thumbnail slot="start">
              <img class="movie-poster" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
            </ion-thumbnail>
            <ion-label class="movie-title">{{ movie.title }}</ion-label>
          </ion-item> 
        } @empty {
          @if(statusSearch) {
            <p>Buscando...</p>
          } @else {
            <p>No hay resultados</p>
          }
        }
      </ion-list>
    </div>
  }

  <ion-list>
    <ng-container *ngFor="let list of playlist; trackBy: trackById">
      <ion-item [routerLink]="['/movie-list', list.id]">
        <ion-thumbnail slot="start">
          <ng-container *ngIf="list.id !== undefined && posters[list.id] && posters[list.id].length">
            <img *ngFor="let poster of posters[list.id].slice(0, 4); let i = index" [src]="poster" [class]="'stack-image-' + i" (error)="handleImageError($event, list.id, i)">
          </ng-container>
        </ion-thumbnail>
        <ion-label style="margin-left: 30px;">
          <h3>{{ list.name }}</h3>
        </ion-label>
        <ion-button *ngIf="list.id !== undefined" slot="end" color="danger" fill="clear" size="medium" (click)="deletePlaylist(list.id, $event)">DELETE</ion-button>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-button class="fixed-button" (click)="openCreateListModal()">
    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
  </ion-button>
</ion-content>