<app-navbar [title]="'ThatMovie'"></app-navbar>

<ion-content class="ion-padding">
  <ion-grid class="movie-profile">
    <ion-row class="movie-header">
      <ion-col size-xs="12" size-md="3" >
        <img
          class="movie-poster"
          [src]="'https://image.tmdb.org/t/p/w500/' + movie?.poster_path"
          [alt]="movie?.title"
        />
        <ion-list>
          <ion-item class="genre-item">
            @for(genre of movie?.genres; track movie?.id){  
              {{ genre.name }}{{$last ? '' : ' | '}}
            }
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size-xs="12" size-md="9">
        <div class="movie-details">
          <h1 class="movie-title">{{ movie?.title }}</h1>
          <p class="movie-release-date">{{ movie?.release_date }}</p>
          <p class="movie-overview">{{ movie?.overview }}</p>
      
          <div class="cast-list">
            <h3>Reparto</h3>
            <ion-list>
              <ion-item *ngFor="let actor of movie?.credits?.cast">
                {{ actor.name }}
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>