<app-navbar [title]="'ThatMovie'" style="display:block;margin-bottom:20px" (onSearch)="onSearch($event)"></app-navbar>
@if(searching){
<div class="searchResults">
  @for(movie of moviesSearched; track movie.id) {
    <ion-card class="movie-card" [routerLink]="['/profile', movie.id]">
      <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
    </ion-card>
  }@empty {
    @if(statusSearch){
      <p>Buscando...</p>
    }@else {
      <p>No hay resultados</p>
    }
  }
</div>
}
<ion-label>Popular Movies</ion-label>
<div class="swiper-container popular-movies">
  <div class="swiper-wrapper">
    @for(movie of popularMovies; track movie.id) {
      <div class="swiper-slide">
        <ion-card class="movie-card" [routerLink]="['/profile', movie.id]">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
        </ion-card>
      </div>
    }
  </div>
  <div class="swiper-pagination"></div>
</div>

<ion-label>Now Playing</ion-label>
<div class="swiper-container now-playing">
  <div class="swiper-wrapper">
    @for(movie of nowPlayingMovies; track movie.id) {
      <div class="swiper-slide">
        <ion-card class="movie-card" [routerLink]="['/profile', movie.id]">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
        </ion-card>
      </div>
    }
  </div>
  <div class="swiper-pagination"></div>
</div>
<ion-label>Upcoming Movies</ion-label>
<div class="swiper-container upcoming-movies">
  <div class="swiper-wrapper">
    @for(movie of upcomingMovies; track movie.id) {
      <div class="swiper-slide">
        <ion-card class="movie-card" [routerLink]="['/profile', movie.id]">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
        </ion-card>
      </div>
    }
  </div>
  <div class="swiper-pagination"></div>
</div>