<app-navbar [title]="'ThatMovie'"></app-navbar>
<div #container class="container">
<ion-label style="margin-left: 15px; font-size: 20px;">Popular Movies</ion-label>
<div class="swiper-container popular-movies">
  <div class="swiper-wrapper">
    @for(movie of popularMovies; track movie.id) {
      <div class="swiper-slide">
        <ion-card class="movie-card" [routerLink]="['/profile', movie.id]">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
        </ion-card>
      </div>
    }
  </div>
  <div class="swiper-pagination"></div>
</div>

<ion-label style="margin-left: 15px; font-size: 20px;">Now Playing</ion-label>
<div class="swiper-container now-playing">
  <div class="swiper-wrapper">
    @for(movie of nowPlayingMovies; track movie.id) {
      <div class="swiper-slide">
        <ion-card class="movie-card" [routerLink]="['/profile', movie.id]">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
        </ion-card>
      </div>
    }
  </div>
  <div class="swiper-pagination"></div>
</div>
<ion-label style="margin-left: 15px; font-size: 20px;">Upcoming Movies</ion-label>
<div class="swiper-container upcoming-movies">
  <div class="swiper-wrapper">
    @for(movie of upcomingMovies; track movie.id) {
      <div class="swiper-slide">
        <ion-card class="movie-card" [routerLink]="['/profile', movie.id]">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
        </ion-card>
      </div>
    }
  </div>
  <div class="swiper-pagination"></div>
</div>
</div>
