// Estilos generales



// Estilos específicos para el carrusel Swiper
.swiper-container {
  width: 100%;
  height: 100%;

  .swiper-slide {
    display: flex;
  
 

    // Otros estilos de diapositivas aquí
  }

  
  // Agregar estilos adicionales según sea necesario
}
.rowposter{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}
.rowing{
  max-height: 200px;
  object-fit: contain;
}
.img{
  width: 20px;
  height: 300px;
}






