<app-navbar [title]="'ThatMovie'" style="display:block;margin-bottom:20px" (onSearch)="onSearch($event)"></app-navbar>
@if(searching){
  <div class="searchResults">
  
     
        <ion-list>
          @for(movie of moviesSearched; track movie.id) {
           <ion-item  [routerLink]="['/profile', movie.id]">
            <ion-thumbnail  slot="start">
              <img class="movie-poster" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
            </ion-thumbnail>
            <ion-label class="movie-title">{{ movie.title }}</ion-label>
           </ion-item> 
          }@empty {
            @if(statusSearch){
              <p>Buscando...</p>
            }@else {
              <p>No hay resultados</p>
            }
          }
        </ion-list>
      
   
  </div>
  }
<div #container class="container">
<ion-label>Popular Movies</ion-label>
<div class="swiper-container popular-movies">
  <div class="swiper-wrapper">
    @for(movie of popularMovies; track movie.id) {
      <div class="swiper-slide">
        <ion-card class="movie-card" [routerLink]="['/profile', movie.id]">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
        </ion-card>
      </div>
    }
  </div>
  <div class="swiper-pagination"></div>
</div>

<ion-label>Now Playing</ion-label>
<div class="swiper-container now-playing">
  <div class="swiper-wrapper">
    @for(movie of nowPlayingMovies; track movie.id) {
      <div class="swiper-slide">
        <ion-card class="movie-card" [routerLink]="['/profile', movie.id]">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
        </ion-card>
      </div>
    }
  </div>
  <div class="swiper-pagination"></div>
</div>
<ion-label>Upcoming Movies</ion-label>
<div class="swiper-container upcoming-movies">
  <div class="swiper-wrapper">
    @for(movie of upcomingMovies; track movie.id) {
      <div class="swiper-slide">
        <ion-card class="movie-card" [routerLink]="['/profile', movie.id]">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
        </ion-card>
      </div>
    }
  </div>
  <div class="swiper-pagination"></div>
</div>
</div>
