.section-label {
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px 0;
  margin-left: 20px;
}

.rowposter {
  overflow-x: auto;
  white-space: nowrap;
}

.movie-container {
  display: flex;
  padding: 10px 0;
}

.movie-card {
  flex: 0 0 auto;
  margin-right: 10px;
  max-width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
}