<ion-content class="ion-padding">
  <div class="background-image"></div>
  <div class="title-container">
    <h1 class="title">ThatMovie</h1>
  </div>
  <ion-card class="register-card">
    <ion-card-content>
      <div class="register-container">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <ion-item lines="none">
            <ion-input formControlName="username" placeholder="Username" type="text"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input formControlName="email" placeholder="Email" type="email"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input formControlName="name" placeholder="Name" type="text"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input formControlName="surname" placeholder="Surname" type="text"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input formControlName="password" placeholder="Password" type="password"></ion-input>
          </ion-item>
          <ion-button expand="block" color="warning" type="submit">Register</ion-button>
          <div class="login">
            <a href="/login">Already have an account? Log in</a>
          </div>
        </form>        
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
